@media only screen and (max-width:768px) {
    .hamburger {
        display: block;
    }
    nav {
        position: fixed;
        top: 0;
        left: -120%;
        width: 35rem;
        height: 100%;
        background: black;
    }
    nav ul {
        flex-flow: column;
        justify-content: center;
        height: 100%;
    }
    nav li {
        margin: 1.4em;
    }
    nav a {
        font-size: 2.2em;
        border-radius: 30px;
    }
    nav a:hover {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: black;
        background: yellow;
    }
    .nav-toggle {
        left: 0%;
    }
    .cross12 {
        transform: skew(-180deg) rotate(-180deg);
    }
}